.wrapper {
    position: fixed;
    left: 57%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    --color-1: rgba(0, 0, 0, 0.3);
    --color-2: #ffab36;
    --size: 1px;
    position: relative;

}

.loader:before,
.loader:after {
    content: '';
    border-radius: 50%;
    position: absolute;

    width: calc(80 * var(--size));
    height: calc(80 * var(--size));

    box-shadow: 0 0 calc(10 * var(--size)) calc(2 * var(--size)) var(--color-1) inset;
}

.loader:after {
    box-shadow: 0 calc(2 * var(--size)) 0 var(--color-2) inset;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}