@use '../../styles/helpers' as *;
@use '../Page.module.scss' as page;

.substrate {
    @include page.substrate-header($with-full-name: false);

    &__avatar {
        @include page.avatar-circle;

        &-image {
            height: 100%;
            border-radius: rem(8);
        }
    }

    &__delete-btn {
        @include page.delete-button;
    }

    &__hidden-btn {
        @include page.hidden-button;
    }
}

.form {
    @include page.form-flex-base;

    &__input-split {
        @include page.form-input-split;
    }

    &__button {
        padding-block: rem(10);
    }

    &__error {
        @include page.field-error;
    }

}

.item-info {
    @include page.two-col-info-grid;
}

.orders-list {
    @include page.orders-list-base;

    &__initials {
        padding: rem(8);
        color: var(--color-light);
        font-weight: 600;
        border-radius: rem(6);
    }
}