.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: rem(20);
    height: 100vh;
    overflow: hidden;
}

.main {
    padding: rem(20) rem(10) rem(20) 0;
    overflow-y: auto;
    height: 100vh;
}

html {
    background-color: var(--color-gray-95);
}