.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: rem(20);
}

.stat-card {
    &__container {
        display: flex;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: rem(10);
    }

    &--dark-blue {
        background-color: var(--color-dark-blue) !important;
    }

    &--deafult-blue {
        background-color: var(--color-blue) !important;
    }
}

.main {
    padding: rem(20) rem(10) rem(20) 0;
}

html {
    background-color: var(--color-gray-95);
}