@use '../../styles/helpers' as *;
@use '../Page.module.scss' as page;

.table {
    &__name {
        @include page.table-badge-row;

        &-initial {
            @include page.table-badge-circle;
        }
    }

    &__full-name {
        font-weight: 500;
        word-wrap: break-word;
    }

    &__reward {
        display: flex;
        align-items: center;
        column-gap: rem(5);
    }
}