.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: rem(6);

    padding: rem(8) rem(16);
    border: none;
    border-radius: rem(10);

    background-color: var(--color-accent);
    color: var(--color-slate-blue);
    font-weight: 600;
    font-size: rem(14);

    cursor: pointer;

    &:hover {
        background-color: var(--color-alternative-accent);
    }

    &:active {
        transform: scale(0.98);
    }

    &:disabled {
        background-color: var(--color-accent-inactive);
        cursor: not-allowed;
        transform: none;
    }
}

.plus {
    font-weight: 700;
    line-height: 1;
}