@use '../../styles/helpers' as *;
@use '../Page.module.scss' as page;

.form {
    @include page.form-flex-base;
    min-width: rem(420);

    @include mobile {
        min-width: 100%;
    }

    &__input-split {
        @include page.form-input-split;
    }

    &__checkbox-panel {
        display: flex;
        padding-top: rem(4);
    }

    &__error {
        @include page.field-error;
    }

    &__button {
        align-self: flex-start;
        margin-top: rem(5);
    }
}