@use '../../styles/helpers' as *;
@use '../Page.module.scss' as page;

.substrate {
    @include page.substrate-header;



    &__avatar {
        @include page.avatar-circle;
    }

    &__delete-btn {
        @include page.delete-button;
    }
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: rem(10);

    @include laptop {
        grid-template-columns: 1fr;
    }

    &> :first-child {
        grid-row: 1 / 3;
    }
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(20) rem(15);

    &__checkbox-panel {
        grid-column: span 2;
    }

    &__line {
        width: 100%;
        display: block;
        border: 0.1px dashed var(--color-gray-80);
        margin-block: rem(8);
    }

    &__button {
        padding-block: rem(10);
    }

    &__error {
        @include page.field-error;
    }
}

.orders-list {
    @include page.orders-list-base;

    &__initials {
        color: var(--color-light);
        font-weight: 600;
        border-radius: rem(6);
        width: rem(30);
        height: rem(30);

        &>img {
            border-radius: rem(6);
        }
    }

    &__attempt-result {
        display: flex;
        gap: rem(5);
        align-items: center;
        font-weight: 400;
        color: var(--color-gray-60);
    }
}