.stat-card {
    &__container {
        display: flex;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: rem(10);
    }

    &--dark-blue {
        background-color: var(--color-dark-blue) !important;
    }

    &--deafult-blue {
        background-color: var(--color-blue) !important;
    }
}